# -----------------------------------------------------------------------------
# DEPLOYMENT 3: Large instance (1Gi RAM, 500m CPU)
# -----------------------------------------------------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api-large
spec:
  selector:
    matchLabels:
      app: python-api
      size: large
  template:
    metadata:
      labels:
        app: python-api
        size: large
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: python-api-container
        image: sample_api
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: shared-data
          mountPath: /app/data
        imagePullPolicy: Never
        resources:
          requests:
            memory: "2Gi"
            cpu: "250m"
          limits:
            memory: "4Gi"
            cpu: "500m"
      volumes:
      - name: shared-data
        emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: python-api-large-svc
spec:
  selector:
    app: python-api
    size: large
  ports:
  - name: api
    port: 8000
    targetPort: 8000
  - name: metrics
    port: 9000
    targetPort: 9000