apiVersion: batch/v1
kind: Job
metadata:
  name: gateway
spec:
  template:
    spec:
      containers:
      - name: gateway
        image: client-gateway
        imagePullPolicy: Never
      restartPolicy: Never
